body{
    background-color: #141518;
}

#map1{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}


#map2{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
    
}

#map3{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}

#map4{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}

#map5{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}

#map6{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}

#map7{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}

#map8{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}


#map9{
    height:400px ;  
    width:400px ; 
    border-style: groove;
    border-color: cornsilk;
    border-radius: 10px;
}





h3{
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
   
}

